doctype html
html
    head
        title  K-Pop World
        link(rel='stylesheet', href='/stylesheets/chatroom.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/dashboard.css')
        script(src='https://use.fontawesome.com/45e03a14ce.js')
    body
        nav.navbar.navbar-default
            #nav-brand-container
                a.navbar-brand(href='#')
                    //img(src='/stylesheets/dummy/logo1.png', alt='Dispute Bills')
            #navbar-quiz.container
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigatipon
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/dashboard') Home
                        li
                            a(href='/dashboard/profile/#{auth.username}')
                                img.nav-profile.img-circle(src='')
                                |  Profile
                        li#message
                            a#addClass(href='/dashboard/chatroom')
                                i.fa.fa-comments#messenger

                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                span.glyphicon.glyphicon-cog(aria-hidden='true')
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/auth/logout') Logout
                    form.hidden-xs-down.navbar-form.search-menu.form-inline.pull-right
                        #div-search.input-group(role='group')
                            input.search.form-control(type='text', name='search', placeholder='Username..', aria-label='Username', aria-describedby='basic-addon1')
                            .input-group
                                li.nav-item.dropdown.show(style='list-style-type:none;')
                                    .menuItem.dropdown-menu.dropdown-menu-right(role='menu', style='display:none')
                                        h6.dropdown-header.active(tabindex='-1') no results found
                            span.input-group-btn
                                button#searchButton.btn.btn-danger(type='button')
                                    span.glyphicon.glyphicon-search

        .main_section
            .container
                .chat_container
                    .col-sm-3.chat_sidebar
                        .row
                            .dropdown.all_conversation
                                button#dropdownMenu2.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i.fa.fa-weixin(aria-hidden='true')
                                    |                All Conversations

                                ul.dropdown-menu(aria-labelledby='dropdownMenu2')
                            .member_list
                                ul.list-unstyled
                                    li.left.clearfix
                                        span.chat-img.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body.clearfix
                                            .header_sec
                                                strong.primary-font Jack Sparrow
                                                strong.pull-right
                                                    | 09:45AM
                                            .contact_sec
                                                strong.primary-font (123) 123-456
                                                span.badge.pull-right 3
                                    li.left.clearfix
                                        span.chat-img.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body.clearfix
                                            .header_sec
                                                strong.primary-font Jack Sparrow
                                                strong.pull-right
                                                    | 09:45AM
                                            .contact_sec
                                                strong.primary-font (123) 123-456
                                                span.badge.pull-right 3
                                    li.left.clearfix
                                        span.chat-img.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body.clearfix
                                            .header_sec
                                                strong.primary-font Jack Sparrow
                                                strong.pull-right
                                                    | 09:45AM
                                            .contact_sec
                                                strong.primary-font (123) 123-456
                                                span.badge.pull-right 3
                                    li.left.clearfix
                                        span.chat-img.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body.clearfix
                                            .header_sec
                                                strong.primary-font Jack Sparrow
                                                strong.pull-right
                                                    | 09:45AM
                                            .contact_sec
                                                strong.primary-font (123) 123-456
                                                span.badge.pull-right 3
                                    li.left.clearfix
                                        span.chat-img.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body.clearfix
                                            .header_sec
                                                strong.primary-font Jack Sparrow
                                                strong.pull-right
                                                    | 09:45AM
                                            .contact_sec
                                                strong.primary-font (123) 123-456
                                                span.badge.pull-right 3
                                    li.left.clearfix
                                        span.chat-img.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body.clearfix
                                            .header_sec
                                                strong.primary-font Jack Sparrow
                                                strong.pull-right
                                                    | 09:45AM
                                            .contact_sec
                                                strong.primary-font (123) 123-456
                                                span.badge.pull-right 3
                                    li.left.clearfix
                                        span.chat-img.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body.clearfix
                                            .header_sec
                                                strong.primary-font Jack Sparrow
                                                strong.pull-right
                                                    | 09:45AM
                                            .contact_sec
                                                strong.primary-font (123) 123-456
                                                span.badge.pull-right 3
                    // chat_sidebar
                    .col-sm-9.message_section
                        .row
                            .new_message_head
                                .pull-left
                                    button
                                        i.fa.fa-plus-square-o(aria-hidden='true')
                                        |  New Message
                            // new_message_head
                            .chat_area
                                ul.list-unstyled
                                    li.left.clearfix
                                        span.chat-img1.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body1.clearfix
                                            p
                                                | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                                            .chat_time.pull-right 09:40PM
                                    li.left.clearfix
                                        span.chat-img1.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body1.clearfix
                                            p
                                                | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                                            .chat_time.pull-right 09:40PM
                                    li.left.clearfix
                                        span.chat-img1.pull-left
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body1.clearfix
                                            p
                                                | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                                            .chat_time.pull-right 09:40PM
                                    li.left.clearfix.admin_chat
                                        span.chat-img1.pull-right
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body1.clearfix
                                            p
                                                | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                                            .chat_time.pull-left 09:40PM
                                    li.left.clearfix.admin_chat
                                        span.chat-img1.pull-right
                                            img.img-circle(src='https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg', alt='User Avatar')
                                        .chat-body1.clearfix
                                            p
                                                | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
                                            .chat_time.pull-left 09:40PM
                            // chat_area
                            .message_write
                                form#form-message
                                    textarea#inputMessage.form-control(placeholder='type a message')
                                    .clearfix
                                    .chat_bottom
                                    button#sendMessage.pull-right.btn.btn-success(type='submit', name="submit") Send
                // message_section
    script(src='/javascripts/jquery-3.2.0.min.js')
    script(src='/javascripts/bootstrap.min.js')
    //script(src='/javascripts/dateFormat.min.js')
    script(src='/javascripts/api/chat.js')