doctype html
html
    head
        title  K-Pop World
        link(rel='stylesheet', type='text/css', href='/stylesheets/dummy/UPstyle.css')
    body
        .header
            #fingerhart.header
                img(src='/stylesheets/dummy/logo1.png', height='80px', width='170px')
            #searcharea.header
                input#searchbox(placeholder='search here...', type='text')
            #actarea.header
                a(href='unangpahina.html')  Home
            #profilearea1.header  |
            #message.header
                a(href='chat.html')
                    img.img-circle(src='/stylesheets/dummy/messages_512.png', height='70px', width='70px')
            #profilearea2.header  |
            #profile.header
                a(href='profile1.html')
                    img(src='/stylesheets/dummy/chuchu.png', height='80px', width='90px')
            #profilearea3.header  |
            #Setting.header
                a(href='Setting.html')
                    img(src='/stylesheets/dummy/cog-24277_640.png', height='70px', width='50px')
        .post00
            #column-1.post00
                | Update status | Add photos/videos
                input#here(type='file')
                hr
                br
                br
                br
                br
                br
                br
                hr
            #postpos.post00
                input#buttonpost(type='submit', value='post')
            #postboxpos.post00
                textarea#postbox(placeholder="What's on your mind", type='text')
            .post10
                .post20
                .post1
                    img(src='/stylesheets/dummy/images1.png', height='50', width='50')
                    p1  Jun Hyuek
                    br
                    br
                    img(src='/stylesheets/dummy/kpop1.gif', height='350', width='580')
                    br
                    br
                    p6  Like      Comment Share
                    br
                    hr
                    p1 Camsasota
                    p2  and
                    p1  5 others
                    p2  like this
