doctype html
html
    head
        title  K-Pop World
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
    body
            div#form
                h1  Login
                if(errors)
                    .alert.alert-danger.alert-dismissable(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') x

                        strong Warning!
                        for error in errors
                            | #{error.msg}.

                if(success_msg != "")
                    .alert.alert-success.alert-dismissable(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') x
                        strong Success!
                            | #{success_msg}
                if(error_msg != "")
                    .alert.alert-danger.alert-dismissable(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') x
                        strong Warning!
                            | #{error_msg}
                if(error != "")
                    .alert.alert-danger.alert-dismissable(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') x
            form(method='post')
                label(for='email')  Email (required)
                input#email(type='text', name='email', required='', autofocus='', placeholder='Your email')
                label(for='password')  Password (required)
                input#password(type='password', name="password" required='', autofocus='', placeholder='Password')
                input(type='submit', name="submit", value='Login', class='form-control')
                a(href='/auth/register')  No account yet?.
    // jQuery
    script(src='/javascripts/jquery-3.2.0.min.js')
    script(src='/javascripts/bootstrap.min.js')