doctype html
html
    head
        title  K-Pop World
        link(rel='stylesheet', type='text/css', href='/stylesheets/register.css')
    body
            div#form
            h1  Login
            form(method='post')
                label(for='username')  Username (required)
                input#username(type='text', name='username', required='', autofocus='', placeholder='Your username', pattern='[a-zA-Z]{3,}')
                label(for='password')  Password (required)
                input#password(type='password', name="password" required='', autofocus='', placeholder='Password')
                input(type='submit',name="submit", value='Login')
                a(href='/auth/register')  No account yet?.
