doctype html
html
    head
        title  K-Pop World
        link(rel='stylesheet', type='text/css', href='/stylesheets/register.css')
    body
            h1  Register for K-Pop World
            form(method='post')
                label(for='name')  Name (required)
                input#name(type='text', name='name', required='', autofocus='', placeholder='Your name', pattern='[a-zA-Z]{3,}')
                label(for='username')  Username (required)
                input#username(type='text', name='username', required='', autofocus='', placeholder='Your username', pattern='[a-zA-Z]{3,}')
                label(for='email')  Email Address (required)
                input#Email(type='text', name='email', required='', autofocus='', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$', placeholder='Your Email address')
                label(for='password')  Choose a password (required)
                input#password(type='password', required='',name="password", autofocus='', placeholder='Password')
                div
                    input#male(type='radio',value='male', name='gender')
                    label(for='male') Male
                    input#female(type='radio', value='female', name='gender')
                    label(for='female') Female
                input(type='submit', name="register", value='Register')
                a(href='Homepage.html')  Already have an account.
