body { background-color:#FFCCFF;}

.nav-profile{
    max-height: 18px;
}
.posts {
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #A9A9A9;
}
article.post {
    padding: 20px 0;
    clear: both;
    content: '';
    display: block;

}
.img-profile {
    width: 100%;
}
.profile-pic img
{
    max-height: 280px;
    float:left;
}


#form-comment{
    display: none;
}
.userName {
    padding: 0px;
    margin-left: 10px;
}
.postImage {
    max-height:70px;
    width: 100%;
}
.contentPost {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    word-break: break-all;
}
.postBadge {
    margin-left: 5px;
    margin-right:5px;
}
.imageComment
{
    max-height:30px;
}
.imageCol {
    margin-top: 5px;
    margin-bottom: 5px;
}
.samplePosts
{
    text-align: center;
}
.FollowerBadge
{
    margin-bottom: 30px;
}
.followButton
{
    margin-top: 10px;
}
.following-class
{
    margin-left: 5px;
    margin-right: 5px;
}

footer{
    background-color: #222;
    border: 1px solid #080808;
    clear:both;
}
footer p {
    color: #aaa;
}
.profile-div {
    padding-bottom: 135px;
}

.login, .register {
    padding-bottom: 240px;
}

.section2 {
    padding-bottom: 60px;
}
.comment-profile
{
    margin-left: 10px;
}
#commentArea {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    text-align: center;

}
#commentArea p{
    font-size: 18px;

}
#menuItem{
    top: 31px !important;
}
#menuItem ul {
    list-style: none;
}
.tweet-panel {
    margin-top: 50px;
}
.search-menu{
    text-align: center;
    margin:0px;
    padding: 5px 5px;
    width: 50%;
}
.search-menu #div-search{
    width:70%;

}
input#search{
    border-radius: 10px;
    outline: none;
    height: 40px;
}
.navbar-default{
    padding:15px 0px;
    margin-bottom:0px;
    background: #CC3333;
}

.glyphicon.glyphicon-cog{
    font-size:20px;
}
.navbar-default .navbar-nav>li {
    border-right: 3px solid;
}

.navbar-default .navbar-nav>li > a {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    color: #000000;
}
.navbar-default .navbar-brand {
    width: 100%;
    display: inline-block;
    height: 100%;
}
.navbar-default .navbar-brand >img {
    width: 100%;
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
}
#nav-brand-container{
    display: inline-block;
    width: 250px;
    position: absolute;
    height: 84%;
}

.sectionUser #divpost{
    background: white;
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 3px/3px;
}

#imagepost-group{
     display: inline-block;
     width: 210px;
 }
#select_image {
    width: 100%;
}

#createpost-group{
    display: inline-block;
    margin-right: 20px;
}
#createPost{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5px 0 5px 0;
}
#textarea-tweet{
    margin-bottom: 0px;
}
#post-group{
    margin-top: 20px;
}
#btnAdd{
    background: #CC6666;
    border-color: #CC6666;
}
.showdata-index{
    background: white;
    margin-top: 60px;
}
.interaction{
    padding-bottom: 20px;
    border-bottom: 1px solid #A9A9A9;
}

.appendLike{
    margin-top: 10px;
}
.header-post-user{
    margin: 0;
    padding: 3px;
}
.pic-user{
    display: inline-block;
    float: left;
    width: 14%;
    margin-left: 13px;
}
#txtareaPost{
    border: #FFFFFF;
    background: #CCCCCC;
}
.eachImage img {
    width:100%;
}
.gallery {
    padding-bottom: 15px;
}
.post-video video{
    padding: 10px 0;
    width:100%;
}