body { background-color:#FFCCFF;}
.header{position:fixed;width:100%; height:80px; background:#CC3333; top:0; left:0; color:#000000; z-index:7;}

#searcharea{top:15px; left:200px; height:60px;}

#searchbox{width:500px; height:30px; background:#FFFFFF; padding:5px; outline:none; border-radius:10px;}

#actarea{top:30px; left:785px; height:30px; font-size:20px; font-family:"Courier New", Courier, monospace;}

#message{top:5px; left:870px; height:30px; font-size:20px; font-family:"Courier New", Courier, monospace;}

a{color:#000000; text-decoration:none;}

#profile{left:970px;}
#Setting{left:1250px;}

.post00{top:100px;
left:350px;
position:absolute;
width:600px;
height:210px;
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

#column-1{left:0px;
top:0px;
background:#FFFFFF;
width:580px;
height:200px;
border-radius:3px/3px;
font-size:15px;
font-family:verdana;
color:#333366;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}

#postpos{left:450px;
top:170px;
width:85px;
height:30px;}

#buttonpost{width:85px;
height:30px;
border-radius:4px/4px;
background:#CC6666;
font-size:15px;
outline:none;
color:#FFFFFF;
}

#postboxpos{top:45px;
left:10px;
height:105px;
width:580px;
z-index:5;}

#postbox{height:105px;
outline:none;
border:#FFFFFF;
background:#CCCCCC;
width:580px;}

.post10{top:290px;
left:10px;
-weblit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
position:relative;
background:#FFFFFF;
width:580px;
height:600px;
border-radius:3px/3px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}

.post20{top:650px;
left:6px;
position:absolute;
background:#FFFFFF;
width:580px;
height:600px;
border-radius:3px/3px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
-weblit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

#profilearea1{top:10px;
left:850px;
height:50px;
font-size:40px;
font-family:verdana;}

#profilearea2{top:10px;
left:950px;
height:50px;
font-size:40px;
font-family:verdana;}

#profilearea3{top:10px;
left:1060px;
height:50px;
font-size:40px;
font-family:verdana;}

p1{color:#1b6192;
font-family:verdana;
font-size:15px;}
p2{color:#868383;
font-family:verdana;
font-size:15px;}
p3{color:#0033FF;
font-family:verdana;
font-size:15px;}
p4{color:#868383;
font-family:verdana;
font-size:15px;}
p6{color:#1b6192;
font-family:verdana;
font-size:15px;
}

#commentprof2{top:560px;
left:0px;
width:30px;
height:30px;
color:#003399;}

#commentboxpos2{top:560px;
left:40px;
width:540px;
height:30px;
color:#003333;}
#commentbox{
width:560px;
height:30px;}

#comment1{top:1156px;
left:5px;
width:30px;
height:30px;
color:#003399;}

#commentboxpos2{top:560px;
left:40px;
width:540px;
height:30px;
color:#003333;}
#commentbox{
width:560px;
height:30px;}

#post2text{top:70px;
left:70px;
padding-top:10px;
height:40px;
width:430px;}
